:root {
  --fg: #f0f0f0;
  --bg: #0f0f0f;

  --black: #262626;
  --black2: #191919;
  --red: #ac8a8c;
  --green: #8aac8b;
  --blue: #8f8aac;
  --yellow: #aca98a;
}

body {
  margin: auto;
  text-align: left;
  width: 70%;
  background-color: var(--bg);
  color: var(--fg);
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 14px;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

blockquote {
  margin: 0px;
  padding: 15px;
  color: var(--yellow);
  background: var(--black2);
  border-radius: 14px;
}

pre code {
  background-color: var(--black2);
  border-radius: 14px;
  display: block;
  padding: 15px;
  max-height: 40%;
  overflow-x: scroll;
  white-space: pre-wrap;
}

code {
  background-color: var(--black2);
  display: small-block;
  padding: 2px;
}

h1 {
  color: var(--red);
  text-align: center;
}

h2 {
  color: var(--blue);
}

h3 {
  color: var(--blue);
}

h4 {
  color: var(--blue);
}

h5 {
  color: var(--blue);
}

/* 8 spaces at your HTML, 2 at your CSS? WTF? Use tabs, bro. 4 tabs. */
/* End Jaafar contribution. */
